-e .
aws-cdk.aws-s3
aws-cdk.aws-lambda
aws-cdk.aws-lambda-event-sources
aws-cdk.aws-sns-subscriptions
aws-cdk.aws-cloudfront
aws-cdk.aws-cloudfront-origins
aws-cdk.aws-apigateway
aws-cdk.cx-api
boto3
aws-cdk.aws-cognito
aws_cdk.aws_appsync